%form-base {
  @include flex(column, flex-start, flex-start);

  gap: 2rem;
  width: 100%;
}

%form-group-column {
  @include flex(column, space-between, flex-start);

  gap: 0.75rem;
  width: 100%;
}

%form-input-styling {
  padding: 0.75rem 1.5rem;
  font-size: $font-size-xl;
  border: 2px solid $rose-500;
  outline-offset: 2px;
  outline-color: $rose-200;
  width: 100%;
  resize: none;
}

%form-label {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  color: $neutral-500;
}

.is-invalid {
  border-color: #dc3545 !important;
  outline-color: #d66a75 !important;
}

.form-error-message {
  display: none;
  font-size: $font-size-lg;
  color: #dc3545;
  margin-top: -0.5rem;
}

.is-invalid + .form-error-message {
  display: block;
}

// Product details form
.cart-form {
  @extend %form-base;

  gap: 3rem;
  align-items: flex-start;

  .form-group {
    @extend %form-group-column;

    gap: 1.25rem;

    label {
      @extend %form-label;
    }

    select {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 2px solid $neutral-300;
      color: $neutral-500;
      font-size: $font-size-xl;
      font-weight: $font-weight-medium;

      &:focus {
        outline: none;
      }
    }
  }

  &__actions {
    @include flex(row, space-between, center);

    width: 100%;
    gap: 1.25rem;

    .quantity-selector {
      @include flex(row, center, center);

      border: 2px solid $rose-500;
      gap: 0.8rem;

      .quantity-btn,
      #quantity {
        @include flex(row, center, center);

        padding: 0.8rem;
        border: none;
        background: none;
        font-size: $font-size-xxl;
        width: 4rem;
      }

      .quantity-btn {
        cursor: pointer;
        font-size: 2rem;
      }
    }

    .add-to-cart-btn {
      width: 100%;

      @extend %button-rose;
    }
  }
}

// Review form
.review-form-container {
  .review-form {
    @extend %form-base;

    gap: 2rem;

    .star-rating-input {
      @include flex(row, flex-start, center);

      gap: 1rem;

      p {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold !important;
        color: $neutral-800 !important;
      }

      img {
        cursor: pointer;
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    .form-group,
    textarea {
      width: 100%;
    }

    .form-group {
      @include flex(row, space-between, flex-start);

      gap: 1rem;

      input {
        @extend %form-input-styling;

        padding: 1.5rem;
        max-width: 300px;
        width: 100%;
      }
    }

    textarea {
      @extend %form-input-styling;

      padding: 1.5rem;
    }

    .form-group-checkbox {
      @include flex(row, flex-start, center);

      gap: 1rem;
      font-size: $font-size-lg;
      color: $neutral-500;

      input {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    button[type="submit"] {
      @extend %button-rose;
    }
  }
}

// Feedback form
.feedback-form {
  @extend %form-base;

  gap: 1.75rem;

  .form-group {
    @extend %form-group-column;

    label {
      @extend %form-label;
    }

    input,
    textarea {
      @extend %form-input-styling;
    }
  }

  button[type="submit"] {
    @extend %button-rose;
  }
}

#auth-dialog[open] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include flex(column, center, center);

  background-color: rgb(0 0 0 / 50%);
  z-index: 1001;
  border: none;

  .dialog-wrapper {
    position: relative;

    @include flex(column, space-between, center);

    gap: 3rem;
    background-color: $white;
    padding: 6rem 0;
    width: clamp(300px, 100%, 480px);

    .dialog-close-btn {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 3rem;
      color: $neutral-500;
      line-height: 1;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $rose-500;
        background-color: $neutral-200;
      }
    }

    h2 {
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;
    }

    form {
      @include flex(column, center, center);

      gap: 3rem;
      max-width: 340px;
      width: 100%;
      padding: 0 2rem;

      .input-group {
        position: relative;

        @include flex(column, flex-start, flex-start);

        gap: 0.5rem;
        max-width: 340px;
        width: 100%;

        label {
          font-size: $font-size-xxl;
        }

        input {
          @extend %form-input-styling;

          height: 4rem;
          padding: 0 1rem;
        }

        .toggle-visibility {
          position: absolute;
          right: 1.6rem;
          top: 60%;
          width: 1.8rem;
          height: 1.8rem;
          background: none;
          border: none;
          cursor: pointer;

          img {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }

      .options-group {
        @include flex(row, space-between, center);

        width: 100%;

        div {
          @include flex(row, center, center);

          gap: 0.5rem;
          font-size: $font-size-lg;

          input {
            width: 1.4rem;
            height: 1.4rem;
          }
        }

        a {
          font-size: $font-size-lg;
          font-weight: $font-weight-bold;
          color: $rose-500;
        }
      }

      button[type="submit"] {
        width: 100%;

        @extend %button-rose;
      }
    }

    p {
      font-size: $font-size-lg;

      .form-toggle {
        border: none;
        background-color: transparent;
        font-weight: $font-weight-bold;
        color: $rose-500;
        cursor: pointer;
      }
    }
  }
}
