.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  @include flex(column, center, center);

  width: clamp(320px, 100%, 1440px);
  background-color: $white;
  transition: box-shadow 0.2s ease-in-out;

  .utility {
    position: relative;

    @include flex(row, space-between, center);

    width: 100%;
    padding: 2rem 1rem;
    border-bottom: 1px solid $neutral-300;

    &__acount-group {
      @include flex(row, center, center);

      gap: 1.5rem;

      a,
      button {
        padding: 0.75rem;
        border-radius: 25px;
        border: none;
        background-color: $white;
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out,
          background-color 0.2s ease-in-out;

        img {
          width: 3rem;
          height: 3rem;
        }

        &:hover {
          box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0,
            rgb(60 64 67 / 15%) 0 1px 3px 1px;
          background-color: $neutral-100;
        }
      }
    }

    &__logo {
      @include flex(row, center, center);

      gap: 1rem;
      font-size: 3rem;
      font-weight: $font-weight-bold;
      color: $rose-500;

      span {
        @include flex(row, center, center);

        padding: 0.25rem;
        border-radius: 10px;
        background-color: $rose-500;

        img {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }

    &__media {
      ul {
        @include flex(row, center, center);

        gap: 2.5rem;

        li {
          .media-link {
            @include flex(row, center, center);

            padding: 0.75rem;
            border-radius: 25px;
            transition: box-shadow 0.2s ease-in-out,
              background-color 0.2s ease-in-out;

            &:hover {
              box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0,
                rgb(60 64 67 / 15%) 0 1px 3px 1px;
              background-color: $neutral-100;
            }

            img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }

  .navigation {
    ul {
      @include flex(row, center, center);

      gap: 4rem;
      padding: 2rem 0;
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;

      li {
        a {
          &.active {
            color: $rose-500;
          }
        }
      }

      .dropdown {
        position: relative;

        &__link {
          position: relative;

          &::after {
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            right: -1.5rem;
            content: "";
            display: block;
            width: 1rem;
            height: 1.2rem;
            background-image: url("../../assets/Header/down-chevron.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        &__content {
          display: none;
          position: absolute;
          background-color: $white;
          min-width: 16rem;
          box-shadow: 0 1rem 1.6rem 0 rgb(0 0 0 / 20%);
          z-index: 999;
          list-style: none;
          padding: 0;

          .mobile-only {
            display: none;
          }

          li {
            a {
              display: block;
              padding: 1.2rem 1.6rem;
              font-size: $font-size-xxl;
              color: $neutral-800;
              text-align: left;

              &:hover {
                background-color: $neutral-100;
              }
            }
          }
        }

        &:hover .dropdown__content {
          display: block;
        }
      }
    }
  }
}

.header__burger-btn {
  display: none;
}

.utility__media--mobile {
  display: none;
}

@media (max-width: ($breakpoint-md - 1px)) {
  .header {
    position: sticky;
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
    z-index: 1001;
    background: $white;

    &__burger-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 24px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      box-sizing: border-box;
      margin-top: 1.5rem;
      position: relative;
      z-index: 1002;
    }

    span {
      padding: 0.2rem;

      img {
        width: 2.8rem;
        height: 2.8rem;
      }
    }

    &__burger-btn span {
      width: 100%;
      height: 3px;
      background-color: $neutral-800;
      border-radius: 3px;
      transition: all 0.3s ease;
    }

    &__burger-btn.is-active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &__burger-btn.is-active span:nth-child(2) {
      opacity: 0;
    }

    &__burger-btn.is-active span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }

    .utility {
      padding: 1rem 0;
      border-bottom: 1px solid $neutral-100;
      position: relative;
      z-index: 1002;

      &__media--desktop {
        display: none;
      }

      &__logo {
        font-size: 2.4rem;
        gap: 0.8rem;
      }

      &__acount-group {
        gap: 0.5rem;

        a {
          padding: 0.5rem;

          img {
            width: 2.6rem;
            height: 2.6rem;
          }
        }
      }
    }

    .navigation {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      z-index: 1000;
      overflow-y: auto;
      padding-top: 8rem;
      box-sizing: border-box;
    }

    .navigation.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .navigation > ul {
      flex-direction: column;
      margin-top: 4rem;
      width: 100%;
      padding: 1rem 0;
      gap: 0;
      font-size: $h3-font-size;
      border: none;

      li {
        width: 100%;

        a {
          display: block;
          padding: 1.5rem 2rem;
          border-bottom: 1px solid $neutral-100;
        }
      }

      .dropdown {
        position: relative;

        &:hover .dropdown__content {
          display: none;
        }

        .dropdown__link {
          &::after {
            top: 50%;
            right: 2rem;
            transition: transform 0.3s ease;
          }
        }

        &.is-open {
          .dropdown__link::after {
            transform: translateY(-50%) rotate(180deg);
          }

          .dropdown__content {
            display: block;
            position: static;
            background: $neutral-100;
            box-shadow: none;
            border-bottom: 1px solid $neutral-300;
            min-width: 100%;
            padding: 0;

            .mobile-only {
              display: block;
            }

            li a {
              padding-left: 3.5rem;
              font-size: $font-size-xl;
              border-bottom: 1px solid $neutral-200;

              &:hover {
                background-color: $neutral-200;
              }
            }
          }
        }
      }
    }

    .utility__media--mobile {
      display: block;
      padding: 2rem 0;
      width: 100%;

      ul {
        justify-content: center;
        gap: 2rem;
      }
    }
  }
}
