$font-size-base: 1rem; // Echivalentul a 10px
$font-size-sm: 0.9rem; // 9px
$font-size-xs: 0.8rem; // 8px

$font-size-lg: 1.3rem; // 13px
$font-size-xl: 1.5rem; // 15px
$font-size-xxl: 1.7rem; // 17px

$h6-font-size: $font-size-base; // 1rem (10px)
$h5-font-size: 1.2rem; // 12px
$h4-font-size: 1.4rem; // 14px
$h3-font-size: 1.7rem; // 17px
$h2-font-size: 1.9rem; // 19px
$h1-font-size: 2rem; // 20px

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
