// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

// Colors
$white: #fff;

// Neutral Colors
$neutral-100: #f6f6f6;
$neutral-200: #efefef;
$neutral-300: #d9d9d9;
$neutral-400: #bfbfbf;
$neutral-500: #504e4a;
$neutral-600: #333;
$neutral-700: #1a1a1a;
$neutral-800: #000;

// Rose Color
$rose-100: #fadceb;
$rose-200: #f4b3d6;
$rose-300: #e685b9;
$rose-400: #d3569b;
$rose-500: #b92770;
$rose-600: #931f5a;
$rose-700: #6d1643;
$rose-800: #460e2c;

// Amber Color
$amber-100: #fef3d9;
$amber-200: #fce6ad;
$amber-300: #facb6b;
$amber-400: #f7c042;
$amber-500: #f5b423;
$amber-600: #d39213;
$amber-700: #b1770f;
$amber-800: #8e5c0c;

// Fonts
$font-size-base: 1rem; // Echivalentul a 10px
$font-size-sm: 0.9rem; // 9px
$font-size-xs: 0.8rem; // 8px

$font-size-lg: 1.3rem; // 13px
$font-size-xl: 1.5rem; // 15px
$font-size-xxl: 1.7rem; // 17px

$h6-font-size: $font-size-base; // 1rem (10px)
$h5-font-size: 1.2rem; // 12px
$h4-font-size: 1.4rem; // 14px
$h3-font-size: 1.7rem; // 17px
$h2-font-size: 1.9rem; // 19px
$h1-font-size: 2rem; // 20px

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
