.main-about {
  @include flex(column, center, center);

  gap: 6rem;

  section {
    width: 100%;
  }

  .about-arrivals {
    @include flex(row, space-between, center);

    gap: 4rem;
    padding: 0 2rem;

    &__description {
      @include flex(column, space-between, flex-start);

      gap: 3rem;
      width: 100%;

      h2 {
        font-size: 4rem;
        font-weight: $font-weight-bold;
      }

      p {
        font-size: $font-size-xxl;
      }

      a {
        @extend %button-rose;
      }
    }

    &__img {
      max-width: 600px;
      width: 100%;
      height: auto;
    }
  }

  .about-team {
    @include flex(column, center, center);

    padding: 1rem;
    gap: 5rem;

    h2 {
      border-bottom: 2px solid $rose-500;
      font-size: 4rem;
      font-weight: $font-weight-bold;
      text-align: center;
      width: fit-content;
    }

    ul {
      @include flex(row, space-between, center);

      width: 100%;
      gap: 4rem;
      text-align: center;

      li {
        @include flex(column, center, center);

        gap: 2.5rem;

        img {
          max-width: 410px;
          width: 100%;
          height: auto;
        }

        h3 {
          font-size: $h1-font-size;
          font-weight: $font-weight-bold;
        }

        p {
          font-size: $font-size-xxl;
        }
      }
    }
  }

  @media screen and (max-width: ($breakpoint-lg - 1px)) {
    .about-achievements {
      ul {
        justify-content: center;
      }
    }

    .about-arrivals {
      flex-direction: column-reverse;

      &__img {
        max-width: 600px;
      }
    }

    .about-team {
      h2 {
        font-size: 3rem;
      }

      ul {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
