@use '../base' as *;
@use '../components/buttons' as *;

.main-cart {
  margin: 8rem 0;
  min-height: 60dvh;

  @include flex(column, flex-start, center);

  gap: 7rem;

  .cart-empty-message {
    padding: 0 1rem;
    font-size: 3rem;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .cart-empty-btn {
    @include button-rose;
  }

  section {
    width: 100%;
  }

  &__hero {
    @include flex(row, center, center);

    background-image: url('/src/assets/Cart/cart-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 2rem;
    max-width: none;
    width: 100%;
    height: 23rem;

    h1 {
      color: $white;
      font-size: 5rem;
      font-weight: $font-weight-bold;
    }
  }

  &__content {
    @include flex(column, flex-start, center);

    gap: 6rem;

    .table-wrapper {
      padding: 0 2rem;
      width: 100%;
      overflow-x: auto;
    }

    .products-table {
      border-collapse: collapse;
      width: 100%;
      min-width: 1024px;
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;

      th,
      td {
        padding: 1rem;
        text-align: center;
      }

      thead {
        background-color: $neutral-500;
        text-transform: uppercase;
        color: $white;
      }

      tbody {
        tr {
          border-bottom: 2px solid $rose-500;

          td {
            margin: auto 0;

            .product-image {
              width: 10 2rem;
              height: 12rem;
            }
          }
        }
      }

      .remove-product,
      .qty-decrement,
      .qty-increment {
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: $h2-font-size;
        font-weight: $font-weight-bold;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $rose-500;
        }
      }

      .product-quantity {
        span {
          margin: 0 1rem;
        }
      }
    }

    .cart-actions {
      width: 100%;

      @include flex(row, space-between, start);

      flex-wrap: wrap;
      gap: 6rem;
      padding: 2rem;

      button {
        @include button-rose;

        min-width: 240px;
      }

      &__group {
        @include flex(row, flex-start, flex-start);

        flex-wrap: wrap;
        gap: 2rem;
      }

      &__summary {
        @include flex(column, flex-start, flex-start);

        gap: 2rem;
        padding: 2rem;
        width: clamp(300px, 100%, 500px);
        background-color: $neutral-500;
        color: $white;

        ul {
          width: 100%;

          li {
            @include flex(row, space-between, center);

            border-bottom: 2px solid $rose-500;
            padding: 1rem;
            font-size: $font-size-xxl;
          }

          .summary-total {
            font-size: $h1-font-size;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
}
