.main-catalog {
  @include flex(column, center, center);

  .filters {
    @include flex(column, center, center);

    width: 100%;
    gap: 3rem;
    margin: 4rem 0;

    select,
    .search-product {
      padding: 0.75rem 1rem;
      border: 2px solid $neutral-300;
      color: $neutral-500;
      font-size: $font-size-xl;
      font-weight: $font-weight-medium;

      &:focus {
        outline: none;
      }
    }

    &__results {
      @include flex(row, flex-start, center);

      padding: 2rem 1rem;
      gap: 5rem;
      width: 100%;

      .showing {
        color: $neutral-500;
        font-size: $font-size-xl;
        font-weight: $font-weight-medium;
        margin-right: auto;
      }

      .search-wrapper {
        position: relative;
        width: clamp(300px, 100%, 340px);

        .search-product {
          width: 100%;
        }

        img {
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
        }
      }
    }

    &__options {
      @include flex(column, center, center);

      gap: 1rem;
      width: 100%;

      .options-row {
        @include flex(row, flex-start, center);

        overflow: visible;
        width: 100%;
        flex-wrap: wrap;
        gap: 5rem;
        padding: 2rem 1rem;
        border-top: 2px solid $rose-500;

        &:nth-child(2) {
          gap: 2rem;
        }

        select {
          width: clamp(280px, 100%, 300px);
          font-size: $font-size-lg;
        }

        .size,
        .color,
        .category,
        .sale {
          @include flex(column, space-between, start);

          gap: 1rem;

          h3 {
            font-size: $h3-font-size;
            font-weight: $font-weight-bold;
            color: $neutral-500;
          }
        }

        .sale {
          input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
          }

          label {
            cursor: pointer;
            position: relative;
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: $white;
            border: 2px solid $neutral-200;
            transition: background-color 0.2s ease, border-color 0.2s ease;
          }

          label::before {
            content: "";
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            background-color: #000;
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
            transition: all 0.2s ease;
          }

          input[type="checkbox"]:checked + label {
            background-color: $neutral-200;
            border-color: $neutral-200;
          }

          input[type="checkbox"]:checked + label::before {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }

        button {
          @extend %button-rose;

          height: 6rem;
          width: 22rem;
          font-size: $font-size-xl;
        }
      }

      .filter-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        .custom-dropdown {
          position: relative;
          width: 280px;

          .dropdown-selected {
            width: 100%;
            padding: 0.75rem 1rem;
            border: 2px solid $neutral-300;
            background-color: $white;
            text-align: left;
            font-size: $font-size-lg;
            color: $neutral-500;
            cursor: pointer;
            background-image: url("../../assets/Header/down-chevron.png");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1rem;
            height: auto;
          }

          .dropdown-options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $white;
            border: 1px solid $neutral-300;
            border-top: none;
            z-index: 100;
            max-height: 300px;
            overflow-y: auto;
            box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
            padding: 0;
            margin: 0;
            list-style: none;

            li {
              width: 100%;

              .dropdown-option-btn {
                width: 100%;
                text-align: left;
                padding: 0.8rem 1rem;
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: $font-size-base;
                color: $neutral-800;
                height: auto;

                &:hover {
                  background-color: $neutral-100;
                }
              }

              &.is-selected .dropdown-option-btn {
                background-color: $rose-500;
                color: $white;
                font-weight: bold;
              }
            }
          }

          &:hover .dropdown-options {
            display: block;
          }
        }
      }
    }
  }

  .catalog {
    @include flex(row, space-between, start);

    gap: 5rem;
    width: 100%;

    &__wrapper {
      @include flex(column, center, center);

      gap: 4rem;
      padding: 1rem;
      width: 100%;

      .pagination {
        @include flex(row, space-evenly, center);

        gap: 2rem;
        width: 100%;

        &__pages {
          @include flex(row, center, center);

          gap: 1rem;

          .active {
            background: $rose-500;
            color: $white;
          }
        }

        button {
          @extend %button-rose-outline;

          border-radius: 10px;
        }
      }
    }

    &__best-sets {
      padding: 1rem;
    }

    &__products {
      @include flex(row, flex-start, start);

      flex-wrap: wrap;
      width: 100%;
      gap: 4rem;
    }
  }
}

@media screen and (max-width: ($breakpoint-md - 1px)) {
  .main-catalog {
    .filters {
      &__options,
      &__results {
        flex-direction: column;
        align-items: center;
        max-width: 300px;

        .showing {
          margin: 0;
        }

        .options-row {
          &:nth-child(2) {
            justify-content: center;
          }
        }
      }
    }

    .catalog {
      flex-direction: column;

      &__products {
        justify-content: center;
      }
    }
  }
}
