@use '../base' as *;
@use '../components/buttons' as *;

.main-contact {
  @include flex(column, center, center);

  gap: 6rem;

  section {
    width: 100%;
  }

  .contact-form {
    @include flex(row, center, center);

    padding: 1rem;
    gap: 4rem;

    &__img {
      max-width: 640px;
      width: 100%;
      max-height: 700px;
      height: auto;
    }

    &__wrapper {
      @include flex(column, space-between, start);

      gap: 4rem;

      h2 {
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
      }

      p {
        font-size: $font-size-xxl;
      }
    }
  }

  @media screen and (max-width: ($breakpoint-lg - 1px)) {
    .contact-form {
      flex-direction: column;

      &__img {
        max-width: 506px;
      }
    }
  }
}
