@use '../base' as *;
@use '../components/buttons' as *;

.main-home {
  @include flex(column, center, center);

  section {
    padding: 6rem;
    width: 100%;
    background-color: $white;
  }

  p {
    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
  }

  .hero {
    @include flex(row, center, center);

    position: relative;
    background-color: $neutral-100;
    padding: 6rem;

    h1 {
      font-size: 4rem;
      line-height: 1.2;
      font-weight: $font-weight-bold;
    }

    h2 {
      font-size: 3.6rem;
      font-weight: $font-weight-bold;
    }

    p {
      font-size: $font-size-xxl;
      line-height: 1.2;
    }

    &__description {
      @include flex(column, space-evenly, start);

      max-width: 540px;
      gap: 3rem;

      a {
        @include button-rose;
      }
    }

    &__image {
      background-image: url('../../assets/Homepage/hero-image.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      max-width: 648px;
      width: 100%;
      height: 424px;
    }

    &__discount {
      @include flex(row, center, center);

      width: clamp(320px, 100%, 1280px);
      min-height: 640px;
      background-color: $white;
      box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translateX(-50%);

      .left-column,
      .right-column {
        flex: 1;
        padding: 4rem 2rem;
        width: 100%;
        min-height: 64rem;
        height: 100%;
      }

      h3 {
        font-size: $h3-font-size;
        font-weight: $font-weight-bold;
      }

      img {
        width: 8rem;
        height: 8rem;
      }

      .left-column {
        @include flex(column, flex-start, flex-start);

        gap: 3rem;

        .discount-card {
          @include flex(row, flex-start, flex-start);

          gap: 1rem;

          &__description {
            @include flex(column, center, start);

            gap: 1rem;
            height: 100%;
          }
        }
      }

      .right-column {
        @include flex(column, center, start);

        color: $white;
        gap: 3rem;
        background-image: url('../../assets/Homepage/discount.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        a {
          @include button-rose;
        }
      }
    }
  }

  .travel-suitcases,
  .selected,
  .new-products,
  .reviews {
    @include flex(column, center, center);

    gap: 1rem;

    h2 {
      font-size: 3.8rem;
      font-weight: $font-weight-bold;
    }

    &__wrapper {
      @include flex(row, center, center);

      gap: 4rem;
      margin-top: 4rem;
    }
  }

  .travel-suitcases {
    overflow: hidden;
    margin-top: 60rem;

    p {
      font-size: $font-size-lg;
    }

    &__wrapper {
      transition: transform 0.4s ease-in-out;

      h3,
      p {
        display: none;
        color: $white;
        z-index: 2;
        pointer-events: none;
      }

      p,
      span {
        font-size: $font-size-xxl;
      }

      .travel-card {
        position: relative;

        @include flex(column, flex-end, start);

        gap: 2rem;
        padding: 2rem;
        width: 310px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        transition: all 0.2s ease-in-out;
        user-select: none;

        h3,
        p {
          display: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgb(0 0 0 / 0%);
          transition: all 0.2s ease-in-out;
        }

        h3 {
          font-size: $h2-font-size;
        }

        &:hover {
          background-size: 110%;
          box-shadow: 2px 2px 6px rgb(0 0 0 / 35%);

          &::before {
            background-color: rgb(0 0 0 / 50%);
          }

          h3,
          p {
            display: block;
          }
        }
      }
    }
  }

  .selected__wrapper,
  .new-products__wrapper,
  .reviews__wrapper {
    flex-wrap: wrap;
  }

  .reviews {
    &__wrapper {
      article {
        @include flex(column, center, center);

        gap: 2rem;
        max-width: 38rem;
        padding: 4rem;
        text-align: center;
        background-color: $white;
        box-shadow: 0 2rem 8rem #c1c7d470;

        img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
        }

        span {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  @media screen and (max-width: ($breakpoint-lg - 1px)) {
    section {
      padding: 6rem 2rem;
    }

    .hero {
      padding: 6rem 2rem;
      flex-direction: column-reverse;

      &__discount {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        flex-direction: column;
        margin-top: 2rem;
      }
    }

    .travel-suitcases {
      margin-top: 0;
    }
  }

  @media screen and (max-width: ($breakpoint-md - 1px)) {
    .selected,
    .new-products {
      &__wrapper {
        row-gap: 8rem;
      }
    }

    .offer {
      .left-column {
        h3 {
          font-size: 12rem;
        }
      }
    }
  }
}
