.main-product {
  margin: 8rem 0;

  @include flex(column, center, center);

  gap: 6rem;

  .rating {
    @include flex(row, flex-start, center);

    gap: 0.2rem;

    img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .related-products {
    @include flex(column, center, center);

    gap: 6rem;

    h2 {
      padding: 2rem 0;
      font-size: 3rem;
      font-weight: $font-weight-bold;
      border-bottom: 4px solid $rose-500;
    }

    &__list {
      @include flex(row, space-between, center);

      flex-wrap: wrap;
      gap: 3rem;
    }
  }

  .product-details {
    @include flex(row, space-between, start);

    gap: 2rem;
    width: 100%;
    padding: 1rem;

    .product-gallery {
      @include flex(column, center, center);

      gap: 2rem;

      &__main-image {
        width: clamp(300px, 100%, 640px);
        max-height: 780px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          max-height: 780px;
        }
      }

      &__thumbnails {
        @include flex(row, space-between, center);

        flex-wrap: wrap;
        gap: 1.5rem;

        li {
          img {
            width: 15rem;
            height: 15rem;
          }
        }
      }
    }

    .product-info {
      @include flex(column, flex-start, flex-start);

      max-width: 640px;
      gap: 4rem;

      &__title {
        font-size: 3rem;
        font-weight: $font-weight-bold;
      }

      &__meta {
        .product-info__rating {
          @include flex(row, flex-start, center);

          gap: 1rem;
        }

        .product-info__price {
          font-size: 2rem;
          font-weight: $font-weight-bold;
          color: $neutral-800;
        }
      }

      p {
        font-size: $font-size-xxl;
        font-weight: $font-weight-regular;
        color: $neutral-500;
      }

      .payment-options {
        @include flex(row, space-between, center);

        flex-wrap: wrap;
        gap: 2rem;

        h2 {
          font-size: $h1-font-size;
          font-weight: $font-weight-bold;
          color: $neutral-500;
        }

        ul {
          @include flex(row, space-between, center);

          gap: 3rem;
        }
      }
    }
  }

  .product-tabs {
    @include flex(column, center, center);

    width: clamp(300px, 100%, 1240px);
    gap: 4rem;

    nav {
      width: clamp(300px, 100%, 860px);
      width: 100%;

      ul {
        @include flex(row, space-evenly, center);

        li {
          .active {
            border-bottom: 4px solid $rose-500;
          }

          button {
            font-size: $font-size-xxl;
            font-weight: $font-weight-bold;
            background: none;
            border: none;
            border-bottom: 4px solid transparent;
            cursor: pointer;
            padding: 0.75rem 0;
          }
        }
      }
    }

    .tab-panel {
      width: 100%;
      padding: 2rem 1rem;
      margin: 0 auto;

      p {
        font-size: $font-size-xxl;
        font-weight: $font-weight-regular;
        color: $neutral-500;
      }
    }

    #tab-details:not([hidden]) {
      @include flex(column, flex-start, center);

      gap: 3.5rem;
    }

    #tab-reviews:not([hidden]) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;

      .reviews-list {
        @include flex(column, flex-start, flex-start);

        gap: 3rem;

        .review {
          @include flex(row, flex-start, flex-start);

          gap: 2rem;

          &__content {
            @include flex(column, flex-start, flex-start);

            gap: 3rem;
          }

          &__author {
            width: 100%;

            @include flex(row, flex-start, center);

            gap: 2rem;
            color: $neutral-500;

            h3 {
              font-size: $h3-font-size;
              font-weight: $font-weight-bold;
            }

            time {
              font-size: $font-size-lg;
            }

            .rating {
              margin-left: auto;
            }
          }
        }
      }

      .review-form-container {
        @include flex(column, flex-start, flex-start);

        gap: 3rem;

        p {
          font-size: $font-size-lg;
          color: $neutral-500;
        }
      }
    }

    #tab-shipping:not([hidden]) {
      h2 {
        text-align: center;
        padding: 4rem 1rem;
        font-size: $h1-font-size;
      }
    }
  }
}

@media screen and (max-width: ($breakpoint-lg - 1px)) {
  .main-product {
    .product-details {
      flex-wrap: wrap;
      justify-content: center;
    }

    .product-tabs {
      max-width: 760px;

      #tab-reviews:not([hidden]) {
        grid-template-columns: 1fr;
        align-items: center;

        .review-form {
          .form-group {
            flex-direction: column;

            input {
              max-width: 760px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: ($breakpoint-md - 1px)) {
  .main-product {
    .product-details {
      .product-gallery {
        &__thumbnails {
          li {
            img {
              width: 8rem;
              height: 8rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: ($breakpoint-sm - 1px)) {
  .main-product {
    .product-details {
      .product-gallery {
        &__thumbnails {
          li {
            img {
              width: 6rem;
              height: 6rem;
            }
          }
        }
      }
    }
  }
}
