// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

// Colors
$white: #fff;

// Neutral Colors
$neutral-100: #f6f6f6;
$neutral-200: #efefef;
$neutral-300: #d9d9d9;
$neutral-400: #bfbfbf;
$neutral-500: #504e4a;
$neutral-600: #333;
$neutral-700: #1a1a1a;
$neutral-800: #000;

// Rose Color
$rose-100: #fadceb;
$rose-200: #f4b3d6;
$rose-300: #e685b9;
$rose-400: #d3569b;
$rose-500: #b92770;
$rose-600: #931f5a;
$rose-700: #6d1643;
$rose-800: #460e2c;

// Amber Color
$amber-100: #fef3d9;
$amber-200: #fce6ad;
$amber-300: #facb6b;
$amber-400: #f7c042;
$amber-500: #f5b423;
$amber-600: #d39213;
$amber-700: #b1770f;
$amber-800: #8e5c0c;
